<!-- <div class="container">
    <nav class="nav navbar navbar-expand-lg navbar-light bg-light nav_wrapper">
        <a class="navbar-brand brand" href="/">Instapost</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="my-2 my-lg-0 ml-auto">
                <% if user_signed_in? %>
                <span class="nav_links pull-right"><%= link_to 'New Post', new_post_path %></span>
                <span class="nav_links pull-right"><%= link_to 'Edit Settings', edit_user_registration_path %></span>
                <span
                    class="nav_links pull-right"><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></span>
                <% else %>
                <span class="nav_links pull-right"><%= link_to 'Sign Up', new_user_registration_path %></span>
                <span class="nav_links pull-right"><%= link_to 'Log In', new_user_session_path %></span>
                <% end %>
            </div>
        </div>
    </nav>
</div> -->

<nav class="nav navbar navbar-expand-lg nav-wrapper navbar-default navbar-light bg-light">
    <div class="container"><a class="navbar-brand brand .header-size" href="/">
            <i class="fab fa-instagram"></i> <strong><span style="color: #4f4f4f;">Instapost</span></strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse in navbar-collapse" arial-expanded="true" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto nav_links">
                <% if user_signed_in? %>
                <span class="nav_links pull-right nav_items"><%= link_to 'New Post', new_post_path %></span>
                <span class="nav_links pull-right"><%= link_to 'Edit Settings', edit_user_registration_path %></span>
                <span
                    class="nav_links pull-right nav_items"><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></span>
                <% else %>
                <span class="nav_links pull-right nav_items"><%= link_to 'Sign Up', new_user_registration_path %></span>
                <span class="nav_links pull-right nav_items"><%= link_to 'Log In', new_user_session_path %></span>
                <% end %>
            </div>
        </div>
    </div>
</nav>